
* {
	margin: 0;
	padding: 0;
}

.comic {
	font-family: bangers;
	
}

#background {
	background-color: #005ab2;
}

#navbar {
	background-color: red;
}

#landing {
	position: relative;
	height: 500px;
	align-items: center;
	justify-content: center;
	
}

#landing::before {
	content: "";
	background-image: url(./images/maniladawn.JPG);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position:  absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	

}

#greeting {
	position: relative;
	font-weight: bold;
	font-size: 80px;
	color: red;
	text-shadow: 2px 2px white;
}

#greeting2 {
	position: relative;
	font-weight: bold;
	text-shadow: 2px 2px white;
	color: red;
}



.typed-out{
      overflow: hidden;
      border-right: .15em red;
      white-space: nowrap;
      animation: 
      typing 5s steps(40, end) forwards;
      font-size: 1.6rem;
      width: 0;
}

@media only screen and (min-width: 769px) {
	p.mobile {
		font-size: 35px;

	}
}

@media only screen and (max-width: 768px) {
	p.mobile {
		font-size: 20px;
	}
}

@media only screen and (max-width: 425px) {
	div.bio {
		text-align: center;

	}
}

@keyframes typing {
      from { width: 0 }
      to { width: 100% }
    }



html {

	scroll-behavior: smooth;
} 

h2, h3, h4 {

	color: red;
	font-family: bangers;
	text-shadow: 2px 2px white
}

p {
	color: white;
}

footer {
	background-color: red;

}

.facebook {
	background-color: white;
}






