
* {
	margin: 0;
	padding: 0;
	font-family: oswald;
}

.newfont {
	font-family: oswald;

	
}

#background {
	background-color: black;
}

#navbar {
	color: #d6dde2;
	font-family: oswald;
	font-weight: bold;
	font-size: 23px;
	
}



.custom-toggler.navbar-toggler {
            border-color: #b35340;
        }
        /* Setting the stroke to green using rgb values (0, 128, 0) */
          
        .custom-toggler .navbar-toggler-icon {
            background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(179, 83, 64, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }

#landing {
	position: relative;
	align-items: center;
	justify-content: center;
	height: 800px;
	
}

#landing::before {
	content: "";
	background-image: url(./images/tokyo-stars.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position:  absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	height: 800px;

	

}

#greeting {
	position: relative;
	font-weight: bold;
	font-size: 100px;
	color: #d6dde2;
		
}

#greeting2 {
	position: relative;
	font-weight: bold;
	color: #d6dde2;
	
	
}

#animation {
	position: relative;
	animation-name: hi;
	animation-duration: 1s;
	
	
}

@keyframes hi {
	0% 	{left: 800px; top: 0px;}
	100% 	{left: 0px; top: 0px;}
}

#animation2 {
	position: relative;
	animation-name: web;
	animation-duration: 2s;
	
	
}

@keyframes web {
	0% 	{left: -800px; top: 0px;}
	100%	{left: 0px; top: 0px;}
}


/*.typed-out{
      overflow: hidden;
      border-right: .15em red;
      white-space: nowrap;
      animation: 
      typing 5s steps(40, end) forwards;
      font-size: 1.6rem;
      width: 0;
}*/

@media only screen and (min-width: 769px) {
	p.mobile {
		font-size: 35px;

	}
}

@media only screen and (max-width: 768px) {
	p.mobile {
		font-size: 20px;
	}
}

@media only screen and (max-width: 425px) {
	div.bio {
		text-align: center;

	}
}

@keyframes typing {
      from { width: 0 }
      to { width: 100% }
    }
    

html {

	scroll-behavior: smooth;
} 

.title {

	color: #d6dde2;
	font-family: oswald;
	font-weight: 600;
	
}

p {
	color: white;
	font-family: oswald;
}




footer {
	background-color: #d6dde2;
}








