
* {
	margin: 0;
	padding: 0;
}

#background {
	background-color: #FFF3C2;
}


#landing {

	background-image: url(./images/img_7515.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	
	}